/* body {
  font-family: Arial, Helvetica, sans-serif;
  background: #abb7f9;
  color: #222;
  line-height: 1.5;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #e5e5e5;
  color: #555;
  margin-top: 1rem;
} */
body {
  font-family: 'Nunito', sans-serif;
  /* background: linear-gradient(135deg, #FFE29F, #FFA99F, #FF719A, #FEE140);
  color: #2b2b2b; */
  background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
  color: #2b2b2b;

}





